<div class="row" ng-init="getLoggedUser()">
    <div id="usersList" class="col-md-4" ng-controller="HomeController">

        <ul class="nav nav-tabs">
            <li><button ng-click="getAllUsersExcept()" type="button" class="btn btn-round btn-primary">All Users</button></li>
            <li><button ng-click="findFollowings()" type="button" class="btn btn-round btn-primary">Friends</button></li>
        </ul>

        <div id="searchUsersGroup" class="left-inner-addon">
            <i class="fa fa-search"></i>
            <input id="searchUsers" class="form-control fa fa-search" name="filterUsers" ng-model="filterUsers" type="text" placeholder="Search Users">
        </div>

        <ul class="list-group">
            <li ng-repeat='user in users | filter: filterUsers' class="list-group-item">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="userDetails">{{user.name}}</h4>
                    </div>
                    <div class="col-md-3">
                        <a class="userDetails" ng-show="!user.isFollowed" ng-click="addRelationship(user._id)">Add Friend</a>
                        <a class="userDetails" ng-show="user.isFollowed" ng-click="removeRelationship(user._id)">Unfriend</a>
                    </div>
                    <div class="col-md-4">
                        <image id="userImage3" ng-src="{{user.image}}" class="img-responsive">
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <!-- End Left Panel -->
    <div class="col-md-7" ng-init="getUserMessages()">

        <!-- Trigger the modal with a button -->
        <button id="postMessageButton" type="button" class="btn btn-info btn-lg btn-round" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil-square-o"></i> Post a message!</button>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Post a Message!</h4>
                    </div>
                    <div class="modal-body">
                        <div id="messagePostForm">
                            <form ng-submit="postMessage()" name="messageForm" novalidate>
                                <textarea ng-model="message" name="message" rows="6" cols="64" style="overflow:auto;resize:none" required></textarea><br>
                                <input ng-disabled="messageForm.$invalid" class="btn btn-primary" type="submit" value="Post">
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-round" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


        <ul id="navTabs" class="nav nav-tabs">
            <li><button ng-click="getUserMessages()" type="button" class="btn btn-round btn-primary">Your Posts</button></li>
            <li><button ng-click="getAllMessages()" type="button" class="btn btn-round btn-primary">All Posts</button></li>
            <li><button ng-click="getFriendsMessages()" type="button" class="btn btn-round btn-primary">Friends Posts</button></li>
        </ul>

        <div id="message" ng-repeat="message in messages | orderBy : createdAt : true">
            <div class="row">
                <div class="col-md-2">
                    <image id="userImage4" ng-src="{{message.userImage}}" class="img-responsive">
                </div>
                <div class="col-md-10">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <p id="messageEmail">{{message.userEmail}}</p>
                            </div>
                            <div class="col-md-6">
                                <p id="postedDate">{{message.createdAt | date: 'medium'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="well">
                            <p>{{message.content}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                          <a class="btn btn-danger btn-round" id="deletePost" ng-show="checkUserForDelete(message.userId)" ng-click="deleteMessage(message._id)"><i class="fa fa-trash-o fa-lg"></i> Delete Post</a>
                          <a class="btn btn-primary btn-round" id="commentsShow" ui-sref="messageComments({ id: message._id })"><i class="fa fa-comments" aria-hidden="true"></i> Show Comments</a>
                            <!-- Trigger the modal with a button -->
                            <button id="updateMessageButton" ng-show="checkUserForDelete(message.userId)" type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#myModal3"><i class="fa fa-pencil-square-o"></i> Update message</button>
                            <!-- Modal -->
                            <div id="myModal3" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Update Message!</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="messagePostForm">
                                                <form ng-submit="updateMessage(message._id)" name="messageForm2" novalidate>
                                                    <textarea ng-model="$parent.message2" name="message2" ng-value="message.content" rows="6" cols="64" style="overflow:auto;resize:none" required></textarea><br>
                                                    <input ng-disabled="messageForm2.$invalid" class="btn btn-primary" type="submit" value="Post">
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary btn-round" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End right col -->
</div>
<!-- End row -->
